body {
  background-color: #f4f4f2;
  color: #495464;
  font-family: monospace;
  margin: 0;
}

.backyard {
  border: solid;
  border-color: #bbbfca;
  border-width: 2px;
  display: block;
  width: 100%;
}

.content {
  left: 30%;
  padding: 25px;
  position: absolute;
  width: 25%;
}

.chunk {
  margin-bottom: 10px;
}

.heading {
  font-family: monospace, sans-serif;
  font-size: x-large;
  font-weight: 600;
}

.left-column {
  /*background-color: #bbbfca;*/
  height: 100%;
  left: 0;
  margin: 0;
  position: fixed;
  width: 30%;
}

.prompt {
  color: #f8a488;
}

.sub {
  font-family: monospace;
  font-weight: 500;
}

ul {
  margin-top: 5px;
}

@media screen and (max-width: 480px){
  .hide {
    display: none;
  }

  .content{
    left: 0;
    margin-top: 5px;
    width: 90%;
  }
}
